@import "components/banner.css";
@import "components/photosection.css";
@import "components/footer.css";
@import "components/project.css";
@import "components/navbar.css";
@import "components/skills.css";
@import "components/background.css";
@import "components/wrapper.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/*body {
	font-family: 'Manrope', sans-serif;
	color: blue !important;
	background-color: blue !important;
}

body.dark {
	color: #ffffff;
}*/