@import "components/banner.css";
@import "components/photosection.css";
@import "components/footer.css";
@import "components/project.css";
@import "components/navbar.css";
@import "components/skills.css";
@import "components/background.css";
@import "components/wrapper.css";
@import "components/magnifier.css";
@import "components/future-projects.css";
@import "components/color-changer.css";
@import "components/side-project.css";
@import "components/scrollbar.css";
@import "components/parallax.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/*body {
	font-family: 'Manrope', sans-serif;
	color: blue !important;
	background-color: blue !important;
}

body.dark {
	color: #ffffff;
}*/


p {
	font-family: 'Manrope', sans-serif !important;
	font-size: 18px !important;
	font-weight: 300 !important;
	line-height: 1.25 !important;
}

h2 {
	font-family: 'Manrope', sans-serif;
   	font-weight: 400;
   	line-height: 0.1em;
   	color: black;
}

h4 {
	font-family: 'Manrope', sans-serif;
   	font-weight: 300;
   	line-height: 0.1em;
}

code {
  text-align: justify !important;
  padding: 15px 20px 15px 10px;
  color: grey;
  font-size: 14px;
  font-family: monospace;
}

a {
	font-family: 'Manrope', sans-serif;
    font-weight: 400;
    text-decoration: none;
}