.banner-section {
	width: 95vw !important;
	padding: 50px 50px 25px 50px;
}

@media screen and (max-width: 1024px) {
  div.banner-section {
    width: 100vw !important;
    height: auto !important;
    padding: 5px 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  section.banner-text {
    padding: 10px !important;
  }
}

@media screen and (max-width: 1024px) {
  section.banner-text h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  section.banner-text p {
    font-size: 16px !important;
  }
}

.banner-text h2 {
   /*width: 80%; */
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-family: 'Manrope', sans-serif;
   font-weight: 400;
   color: #4CB5AE;
} 

.banner-text h2 span { 
    background:#fff; 
    padding:0 10px; 
    color: #4CB5AE;
}

section.banner-text {
	border: 0px solid #000000;
	padding: 50px;
	background-color: #ffffff;
	height: auto;
}

section.banner-text p {
	width: 100%;
	font-family: 'Manrope', sans-serif;
	font-weight: 300;
	text-align: justify !important;
	font-size: 20px;
	line-height: 1.25;
	padding-top: 15px;
}

section.banner-text a {
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
}

/*section.banner-text div.rect {
	position: absolute;
	right: 30px;
	bottom: 0;
	width: 10px;
	height: 80%;
	background-color: #000000;
}

section.banner-text div.rect2 {
	position: absolute;
	top: 0;
	right: 50px;
	width: 10px;
	height: 80%;
	background-color: #000000;
}*/
