.banner-section {
	width: 80%;
	padding: 50px 50px 25px 50px;
}

.banner-text h2 {
   width: 80%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-family: 'Manrope', sans-serif;
   font-weight: 400;
} 

.banner-text h2 span { 
    background:#fff; 
    padding:0 10px; 
}

.banner-text {
	/*border-top-width: 50px !important;*/
	/*border-bottom-width: 50px !important;*/
}

section.banner-text {
	border: 0px solid #000000;
	padding: 50px;
	background-color: #ffffff;
	position: relative;
}

section.banner-text p {
	width: 80%;
	font-family: 'Manrope', sans-serif;
	font-weight: 300;
	text-align: justify !important;
	font-size: 24px;
	line-height: 1.25;
	padding-top: 15px;
	/*background-color: #ffffff;*/
	color: black;
}

section.banner-text a {
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
}

section.banner-text div.rect {
	position: absolute;
	right: 30px;
	bottom: 0;
	width: 10px;
	height: 80%;
	background-color: #000000;
}

section.banner-text div.rect2 {
	position: absolute;
	top: 0;
	right: 50px;
	width: 10px;
	height: 80%;
	background-color: #000000;
}
