.color-changer {
    justify-content: center;
    padding: 10px 0 30px 0;
}

.color-changer input {
    opacity: 0.5;
    border: 2px solid #340068;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -50px; 
}