.future-projects-card {
	background-color: white;
	padding: 25px;
	color: black;
	position: relative;
}

.future-projects-card.dark {
	color: #ffffff;
}

.color-changer input {
	text-align: center;
	margin-left: 110px;
}

.future-intro h2 {
	/*font-family: 'Lobster', cursive;*/
	font-size: 36px !important;
	padding: 10px 50px 50px 50px;
	font-family: 'Cedarville Cursive', cursive;
}

.future-projects-card {
	padding: 10px 150px 20px 150px !important;
	    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.future-intro p {
	font-family: 'Manrope', sans-serif !important;
	font-size: 20px !important;
	font-weight: 300 !important;
	line-height: 1.25 !important;
	text-align: center !important;
	
}

@media screen and (max-width: 1024px) {
  .future-projects-card {
    width: 100vw !important;
    height: auto !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  .future-intro p {
    font-size: 16px !important;
    padding: 10px 10px 10px 10px !important;
  }
}

@media screen and (max-width: 1024px) {
  .future-intro h2{
    font-size: 24px !important;
    padding: 10px 10px 10px 10px !important;
  }
}