@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

#hi-magnifier {
  font-family: Fira Sans;
  font-size: 100px;
  line-height: 80px;
  text-align: center;

  background-color: black;
  color: #96FFCA;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw !important;
  height: auto;

}

section.hi-there {
  width: 1200px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
}

div.hi-message {
  font-weight: 300;
  transform: scale(0.3);
  transition: transform 0.1s;
}


@media screen and (max-width: 1024px) {
  #hi-magnifier {
    width: 100vw !important;
    padding: 10px !important;
    margin: 0 !important;
    font-size: 50px !important;
  }
}

@media screen and (max-width: 1024px) {
  section.hi-there {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-auto-rows: 50px;
  }
}