    <!-- parallax test -->
<section class="content"></section>
<section class="parallax-container">
  <div class="parallax" style="background: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center center / cover no-repeat;"></div>
</section>

.parallax {
  position: absolute;
  height: 350px !important;
  /*margin-top: 300px;*/
  width: 100%;
  z-index: -1;
}

.content {
  background: #fff;
  /*height: 600px;*/
}

<script>
    var parallaxElements = $('.parallax'),
  parallaxQuantity = parallaxElements.length

$(window).on('scroll', function() {
  window.requestAnimationFrame(function() {
    for (var i = 0; i < parallaxQuantity; i++) {
      var currentElement = parallaxElements.eq(i)
      var scrolled = $(window).scrollTop()

      currentElement.css({
        transform: 'translate3d(0,' + scrolled * -0.3 + 'px, 0)',
      })
    }
  })
})
</script>