#about img {
	border-radius: 50%;
	position: fixed;
	top: 40%;
	left: 85%;
	width: 120px;
	transform: translate(-50%, -50%);
}

#about a {
	color: white;
	text-decoration: none;
	font-size: 24px;
	border-bottom: 4px solid transparent;
	transition: border-bottom 0.5s;
	font-family: 'Manrope', sans-serif;
   	font-weight: 400;
}


#about a:before,
#about a:after {
  content: '';
  height: 3px;
  background: white;
  display: block;
  transition: width 0.3s ease-in-out;
  margin: 0 auto;
}

#about a:before {
  width: 100%;
}

#about a:after {
  width: 0;
}

#about a:hover:before {
  width: 0;
}

#about a:hover:after {
  width: 100%;
  background: #533747;
}


a.my-github {
	position: fixed;
	top: 25%;
	color: white;
	font-size: 26px;
	left: 85%;
	transform: translate(-50%, 0);
}



a.my-cv {
	position: fixed;
	top: 40%;
	left: 84%;
	transform-origin: 100% 0; 
	transform: rotate(90deg) translate(50%, 0);
}

a.my-linkedin {
	position: fixed;
	bottom: 44%;
	left: 85%; 
	transform: translate(-50%, 0);
}

.color-changer {
	position: fixed;
	bottom: 24px;
	right: 50px;
	padding: 8px 16px;
	border: 1px solid black;
	border-radius: 50px;
}

.color-changer input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
