/*.banner-section img {
	border-radius: 50%;
	position: relative;
	top: 150px;
	left: 80%;
	width: 120px;
	transform: translate(-50%, -50%);
}*/

#about a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	border-bottom: 4px solid transparent;
	transition: border-bottom 0.5s;
	font-family: 'Manrope', sans-serif;
   	font-weight: 400;
}


#about a:before,
#about a:after {
  content: '';
  height: 3px;
  background: white;
  display: block;
  transition: width 0.3s ease-in-out;
  margin: 0 auto;
}

#about a:before {
  width: 100%;
}

#about a:after {
  width: 0;
}

#about a:hover:before {
  width: 0;
}

#about a:hover:after {
  width: 100%;
  background: #4CB5AE;
}


a.my-github {
	position: fixed;
	top: 25%;
	right: 3%;
	transform-origin: 100% 0; 
	transform: rotate(90deg) translate(50%, 0);
}



a.my-cv {
	position: fixed;
	top: 45%;
	right: 3%;
	transform-origin: 100% 0; 
	transform: rotate(90deg) translate(50%, 0);
}

a.my-linkedin {
	position: fixed;
	top: 65%;
	right: 3%;
	transform-origin: 100% 0; 
	transform: rotate(90deg) translate(50%, 0);
}

@media screen and (max-width: 1024px) {
  a.my-linkedin {
    display:none;
  }
}

@media screen and (max-width: 1024px) {
  a.my-cv {
    display:none;
  }
}

@media screen and (max-width: 1024px) {
  a.my-github {
    display:none;
  }
}
