#projects-part {
	width: 90vw;
}

section.sticky-project {
	position: sticky;
	top: 10vh;
}

section.sticky-project {
	height: auto;
}

.projects-section {
    background-color: #ffffff;
}

section.projects {
    display: flex;
    flex-direction: row;
    height: 400px;
}

@media screen and (max-width: 1024px) {
  section.projects {
    height: auto !important;
  }
}

@media screen and (max-width: 1024px) {
  div.projects-text p {
    width: 90vw !important;
  }
}

@media screen and (max-width: 1024px) {
  div.projects-text h2 {
    width: 90vw !important;
  }
}

@media screen and (max-width: 1024px) {
  div.project-carousel {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  section.sticky-project {
    width: 100vw !important;
    position: static;
    height: auto !important;
    padding: 5px 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  div.projects-section.one {
    margin-left: 0 !important;
    height: auto !important;
  }
}

@media screen and (max-width: 1024px) {
  div.projects-section.two {
    margin-left: 0 !important;
    height: auto !important;
  }
}

@media screen and (max-width: 1024px) {
  div.projects-section.three {
    margin-left: 0 !important;
    height: auto !important;
  }
}

.sticky-project.project-intro {
	width: 90vw;
	padding: 25px 50px 25px 50px;
}
.projects-section.intro {
	border-left: 10px solid #86bbbd !important;
}



.sticky-project.project1 {
	width: 90vw;
	padding: 25px 50px 25px 50px;
}
.projects-section.one {
	margin-left: 10px !important;
	border-left: 10px solid #76949f !important;
}



.sticky-project.project2 {
	width: 90vw;
	padding: 25px 50px 25px 50px;
}
.projects-section.two {
	margin-left: 20px !important;
	border-left: 10px solid #6a6b83 !important;
}

/*@media screen and (max-width: 1024px) {
  section.projects-section.two {
    width: 100vw !important;
    position: static;
    height: auto !important;
    padding: 5px 0 !important;
    margin: 0 !important;
    border: 0 !important;
  }
}
*/


.sticky-project.project3 {
	width: 90vw;
	padding: 25px 50px 25px 50px;
}
.projects-section.three {
	margin-left: 30px !important;
	border-left: 10px solid #5f506b !important;
}



.project-carousel {
	width: 50% !important;
	background-color: none !important;
	display: flex;
    align-items: center;
    margin: 5px;
}

.w-100 {
    max-width: 100% !important;
    height: 350px;
    object-fit: contain;
    border: 1px solid #DADADA !important;
    padding: 5px;
}

.projects h2 {
   text-align: center; 
   border-bottom: 0px solid #000 !important; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-family: 'Manrope', sans-serif;
   font-weight: 400;
} 

.text-intro {
  /*padding: 0 200px;*/
}

.text-intro h2 {
   padding-top: 15px;
   text-align: center; 
   border-bottom: 1px solid #000 !important; 
   line-height: 0.1em;
   font-family: 'Manrope', sans-serif;
   font-weight: 400;
} 

.projects h2 span { 
    background:#fff; 
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.text-intro p {
	font-family: 'Manrope', sans-serif;
	font-weight: 300;
	text-align: justify !important;
	font-size: 20px;
	line-height: 1.25;
	padding: 15px 20px 15px 20px;
	color: #70798C;
}

@media screen and (max-width: 1024px) {
  div.projects-text p {
    font-size: 16px;
  }
}

.projects-text {
    padding-top: 25px;
    max-width: 50%;
}

.projects-text p {
	font-family: 'Manrope', sans-serif;
	font-weight: 300;
	text-align: justify !important;
	font-size: 20px;
	line-height: 1.25;
	padding: 15px 20px 15px 20px;
	color: #70798C;
	display: flex;
	justify-content: center;
	align-items: center !important;
	position: relative;

}

.projects-text a {
	color: black;
	text-decoration: none;
	font-family: 'Manrope', sans-serif;
    font-weight: 400;
}
